<div class="mt-5 container card">
  <div class="card-body">
    <div class="card-title">
      <h1>Login</h1>
    </div>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="emailInput"
          required="true"
        />
      </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="passwordInput"
          required="true"
          min="6"
        />
      </div>
      <button class="btn btn-primary" (click)="login()">Login</button>
    </form>
    <p class="mt-3">
      Don't have an acccount? <a routerLink="/register">Register here!</a>
    </p>
  </div>
</div>
